# Rust
/target/
**/*.rs.bk

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Actualised State Memory
local_state/
actualised_state/

# Environment Variables
.env
.env.local

# OS Files
.DS_Store
Thumbs.db
